<header class="header">
    <div class="_container">
        <div class="header__inner --flex --jc-space-between">
            <div class="header__logo">
                <img src="../../img/logo.png" alt="">
            </div>
            <div class="header__text --fz-18">
                <h1>
                    Региональная информационная система в сфере закупок товаров, работ,
                    услуг для обеспечения государственных нужд Республики Дагестан                    
                </h1>
            </div>
            <div class="header__contacts --flex">
                <div class="header__contacts_phone phone --svg__phone"></div>
                <a href="tel:88006008690">8 800 600 86 90</a>
            </div>
        </div>
    </div>
</header>
